.todo-app {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fefefe;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.todo-input button {
  padding: 10px 20px;
  background-color: #2d88ff;
  color: white;
  border: none;
  border-radius: 5px;
}

.todo-list {
  list-style: none;
  padding: 10px 10px;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-text {
  flex: 1;
}

.delete-button {
  background: none;
  border: black;
  background-color: rgb(225, 68, 52);
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filters button {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.filters button:hover {
  background-color: #eee;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}